Django==3.1.7
django-celery-beat==2.2.0
django-crispy-forms==1.11.2
django-debug-toolbar==3.2.1
django-extensions==3.1.1
django-filter==2.4.0
django-redis==4.12.1
django-timezone-field==4.1.2
djangorestframework==3.12.4
djangorestframework-simplejwt==4.6.0
graphene==2.1.8
graphene-django==2.15.0
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==20.1.0
jedi==0.18.0
Jinja2==2.11.3
kombu==4.6.11
Pillow==8.1.2
psycopg2-binary==2.8.6
python-dotenv
whitenoise
dj-database-url 
